@import "src/common/sass/variables";
@import "src/common/sass/mixin";

.contactsPage {
  min-height: 62vh;
  background-color: $bgColor;
  display: flex;
  position: relative;
  z-index: 40;

  .contactsContainer {
    @include flex(flex, column, space-evenly, center);
    @media screen and (max-width: 1500px) {
      margin-bottom: 10px;
    }

    .revealContainer {
      width: 50%;

      .formContainer {
        margin-top: 10px;
        height: 100%;
        width: 100%;
        @include flex(flex, column, space-around, normal);

        .name {
          background-color: $bgSecondColor;
          height: 50px;
          margin-bottom: 5px;
          border: 1px solid $textColor;
          @include text(14px, 300, $secondFontFamily, $textColor);
        }

        .email {
          background-color: $bgSecondColor;
          height: 50px;
          margin-bottom: 5px;
          border: 1px solid $textColor;
          @include text(14px, 300, $secondFontFamily, $textColor)
        }

        .message {
          background-color: $bgSecondColor;
          height: 100px;
          margin-bottom: 5px;
          border: 1px solid $textColor;
          resize: none;
          @include text(14px, 300, $secondFontFamily, $textColor)
        }

        .submitBtn {
          text-align: center;
          @media screen and (min-width: 1295px) {
            margin-bottom: 10px;
          }
        }

        .errors {
          @include text(12px, 300, $secondFontFamily, $textColor);
        }

      }

      @media screen and (max-width: 767px) {
        width: 70%;
      }
      @media screen and (max-width: 575px) {
        width: 80%;
      }
    }
  }
}



