.contactsPage {
  /*min-height: 100vh;*/
  background-color: rgba(210, 152, 152, 0.95);
}

.contactsContainer {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.formContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid;
}

/*.formContainer input, .formContainer textarea {*/
/*    width: 100%;*/
/*}*/
/*.linkContainer {*/
/*    margin-top: 10px;*/
/*    border: 1px solid;*/
/*    background-color: white;*/
/*    width: 100px;*/
/*    height: 50px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
.submitBtn {
  padding: 10px 20px;
  background-color: yellow;
}

@media screen and (max-width: 500px) {
  .formContainer {
    width: 100%;
  }
}
