@import "../../common/sass/variables";
@import "../../common/sass/mixin";

.common {
  list-style: none;
  display: flex;
  margin-right: 40px;
  @media screen and (max-width: 767px) {
    @include flex(flex, column, space-evenly, center);
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 200px;
    background-color: $secondColor;
  }
  .list {
    margin-right: 34px;
    & a {
      text-decoration: none;
      @include text(20px, 300, $secondFontFamily, $textColor);
    }

    &:last-child {
      margin-right: 0
    }
  }
}

.nav {
  @media screen and (max-width: 767px) {
    transition: 3s all;
    right: -100%;
  }
}

.nawAppear {
  @media screen and (max-width: 767px) {
    transition: 2s all;
    right: 0;
  }
  .list {
    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }
}