@import "../../common/sass/variables.sass";
@import "./src/common/sass/mixin";
.skill {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  .titleContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    @media screen and (max-width: 767px) {
      margin-bottom: 5px;
    }
    .title {
      @include text(20px, 300, $secondFontFamily, $textColor);
      @media screen and (max-width: 767px) {
        @include text(15px, 300, $secondFontFamily, $textColor);
      }
    }
    .description {
      @include text(20px, 300, $secondFontFamily, $textColor);
      @media screen and (max-width: 767px) {
        @include text(15px, 300, $secondFontFamily, $textColor);
      }
    }
  }
  .line {
    background-color: $textColor;
    border-radius: 1px;
    font-size: 15px;
    width: 100%;
    height: 9px;
    overflow: visible;
    .progressLine {
      background-color: $secondColor;
      height: 9px;
    }
  }
}








