.skill {
    width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: #eaa9a9;
}

.description{
    word-break: break-word;
    background-color: yellow;
}