@import "src/common/sass/variables";
@import "src/common/sass/mixin";
.title {
  margin-bottom: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  position: relative;

  & h2 {
    @include text(36px, 300, $secondFontFamily, $textColor);
    margin: 55px 0 0 0;
    font-size: 36px;
    font-weight: 300;
    & span {
      @include text(36px, 300, $secondFontFamily, $secondColor);
    }
    @media screen and (max-width: 767px) {
      margin: 47px 0 0 0;
    }
  }
  &::before {
    content: '';
    position: absolute;
    background: $textColor;
    width: 100px;
    height: 1.2px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  &::after {
    content: '';
    position: absolute;
    background: $secondColor;
    width: 55px;
    height: 1.2px;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}







