@import "../../sass/variables";
.title {
  margin-bottom: 30px;
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  & h2 {
    margin: 0;
    margin-top: 15px;
    font-size: 36px;
    font-weight: 300;
    & span {
      color: #ffb400;
    }
  }
  &::before {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 1.2px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  &::after {
    content: '';
    position: absolute;
    background: #ffb400;
    width: 55px;
    height: 1.2px;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}







