@import "src/common/sass/variables";
@import "src/common/sass/mixin";
.hireMeBlock {
  min-height: 30vh;
  background-color: $bgColor;
  display: flex;
  position: relative;
  z-index: 20;
  .hireMeContainer {
    width: 80%;
    @include flex(flex, column, space-evenly, center);
  }
}




