@import "src/common/sass/variables";
@import "src/common/sass/mixin";
.skillsBlock {
  background-color: $bgColor;
  position: relative;
  z-index: 20;

  .skillsContainer {
    @include flex(flex, column, space-between, center);

    .skills {
      //border: 1px solid;
      width: 100%;
      @include flex(flex, row, space-around, center);
      flex-wrap: wrap;
      margin-top: 20px;
      @media screen and (max-width: 625px) {
        justify-content: center;
      }

      .part1 {
        width: 50%;
      }

      .part2 {
        width: 50%;
      }
    }
  }
}







