@import "../common/sass/variables";
.skillsBlock {
  background-color: $bgColor;
  position: relative;
  z-index: 20;

  .skillsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .skills {
      //border: 1px solid;
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 20px;
      @media screen and (max-width: 625px) {
        justify-content: center;
      }

      .part1 {
        width: 50%;
      }

      .part2 {
        width: 50%;
      }
    }
  }
}







