@import "../common/sass/variables";
@import "../common/sass/mixin";
.mainBlock {
  position: relative;
  min-height: 100vh;
  background-color: $bgColor;
  display: flex;
  align-items: center;
  justify-content: center;
  .mainContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    & p {
      @include text(16px, 400, $secondFontFamily, $textColor);
      line-height: 35px;
      text-align: left;
      position: relative;
      z-index: 20;
    }
    .figure {
      position: absolute;
      height: 210%;
      width: 100%;
      left: -87%;
      transform: rotate(-15deg);
      background-color: $secondColor;
      z-index: 1;
    }
    .photo {
      height: 570px;
      width: 100%;
      border: 3px solid $secondColor;
      border-radius: 30px;
      position: relative;
      z-index: 20;
    }
    .text {
      width: 600px;
      text-align: left;
      padding: 20px;
      .name {
        margin: 0;
        padding: 0;
        @include text(46px, 700, $secondFontFamily, $secondColor);
        position: relative;
        line-height: 1.2;
        text-transform: uppercase;
        z-index: 20;
        & span {
          color: $textColor;
        }
      }
    }
    @media screen and (max-width: 800px) {
        justify-content: center;
    }
  }
}















