.mainBlock {
    position: relative;
    min-height: 100vh;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.figure {
    position: absolute;
    height: 170%;
    width: 100%;
    left: -83%;
    transform: rotate(-15deg);
    background-color: #ffb400;
    z-index: 1;
}

.mainContainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.text {
    width: 600px;
    text-align: left;
    padding: 20px;
}

.name {
    margin: 0;
    padding: 0;
    font-size: 46px;
    font-weight: 700;
    position: relative;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
    color: #ffb400;
    text-transform: uppercase;
}

.name span {
    color: #ffffff;
}

.mainContainer p {
    font-size: 16px;
    line-height: 35px;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: left;
}

.photo {
    height: 600px;
    width: 40%;
    border: 3px solid #ffb400;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 20;
}

@media screen and (max-width: 800px) {
    .mainContainer {
        justify-content: center;
    }
}

