@import "src/common/sass/variables";
@import "src/common/sass/mixin";
.project {
  width: 550px;
  background-color: $bgColor;
  @include flex(flex, column, center, flex-start);
  padding: 20px;
  box-sizing: border-box;

  .imgContainer {
    height: 300px;
    width: 100%;
    @include flex(flex, row, center, center);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: $bgColor;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.2;
    }

    .viewButton {
      @include text(18px, 300, $secondFontFamily, $bgColor);
      position: relative;
      z-index: 1;
      background-color: $textColor;
      text-decoration: none;
    }
  }

  .projectInfo {
    @include flex(flex, column, center, center);
    background-color: #252527;
    padding: 20px 25px 25px 25px;
    border-radius: 0 0 5px 5px;

    .projectTitle {
      @include text(20px, 600, $secondFontFamily, $textColor);
      line-height: 26px;
      text-align: center;
      margin: 0 0 8px;
    }

    .description {
      @include text(15px, 500, $secondFontFamily, $textColor);
      word-break: break-word;
      margin: 15px 0 5px;
      line-height: 1.6;
    }
  }
  &:hover {
    transform: scale(1.05);
    transition: 0.5s
  }
  @media screen and (max-width: 767px) {
    width: 400px;
  }
  @media screen and (max-width: 421px) {
    width: 350px;
  }
}








