@import "src/common/sass/variables";
@import "src/common/sass/mixin";

.nav {
  list-style: none;
  display: flex;
  margin-right: 40px;
  @media screen and (max-width: 767px) {
    margin-right: 20px;
  }
  .list {
    margin-right: 34px;
    @media screen and (max-width: 767px) {
      margin-right: 20px;
    }
    & a {
      text-decoration: none;
      @include text(20px, 300, $secondFontFamily, $textColor);
      @media screen and (max-width: 767px) {
        @include text(15px, 300, $secondFontFamily, $textColor);
      }
    }

    &:last-child {
      margin-right: 0px
    }
  }
}
