@import "src/common/sass/variables";
@import "src/common/sass/mixin";

.footerPage {
  background-color: $bgColor;

  .footerContainer {
    @include flex(flex, column, flex-start, center);

    .squareContainer {
      width: 40%;
      @include flex(flex, row, space-between, normal);
      @media screen and (max-width: 991px) {
        width: 50%;
      }
      @media screen and (max-width: 991px) {
        width: 70%;
      }

      .square {
        @include flex(flex, row, center, center);
        width: 60px;
        height: 60px;
        border: 1px solid $textColor;
        border-radius: 50px;
        background-color: $bgColor;

        .icon {
          font-size: 36px;
          color: $textColor;
          background-color: $bgColor
        }
      }
    }
  }
}








