@import "../common/sass/variables";
@import "src/common/sass/mixin";
.projectsBlock {
  min-height: 90vh;
  background-color: $bgColor;
  display: flex;
  position: relative;
  z-index: 20;

  .projectsContainer {
    @include flex(flex, column, center, center);

    .projects {
      //border: 1px solid;
      height: 100%;
      width: 100%;
      @include flex(flex, row, space-between, flex-start);
      flex-wrap: wrap;
        @media screen and (max-width: 1500px) {
          justify-content: center;
        }
    }
  }
}


