@import "../common/sass/variables";

.projectsBlock {
  min-height: 100vh;
  background-color: $bgColor;
  position: relative;
  display: flex;
  align-items: center;

  .projectsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .projects {
      border: 1px solid;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 1500px) {
        justify-content: center;
      }
    }
  }
}


